/* root */

:root {
	--black: #333;
	--white: #fff;
	--darkgray: #757575;
	--gray: #c5c5c5;
	--lightgray: #f5f5f5;
	--darkblue: #024a97;
	--blue: #3b88fd;
	--lightblue: #a0cefe;
	--orange: #fc642d;
	--transition-time: .2s;
	--focus-border-style: 0 0 0 3px var(--lightblue);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/**
 * 1. prevent adjustments of font size after orientation changes in iOS
 * 2. remove gray highlight when tapping elements in iOS
 */

html {
	-webkit-text-size-adjust: 100%; /* 1 */
	-webkit-tap-highlight-color: transparent; /* 2 */
}

/**
* use nice system font:
*     -apple-system: macOS/iOS
*     Segoe UI: Windows
*     Roboto: Android
*     Ubuntu: Ubuntu
*     Cantarell: Gnome
*     Open Sans: fallback Linux
*     sans-serif: fallback
*/

body {
	margin: 1.375em;
	font-family: -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Open Sans", sans-serif;
	color: var(--black);
	line-height: 1.375;
}

/* anchor */

a {
	color: var(--blue);
}

a:visited {
	color: var(--darkblue);
}

a:active {
	color: var(--orange);
}

a:focus {
	outline: 0;
	box-shadow: var(--focus-border-style);
	border-radius: 2px;
}

/* address */

/**
 * 1. set font-style of address from italic to normal
 */

address {
	font-style: normal; /* 1 */
}

/* code */

code {
	padding: .188em;
	background-color: var(--lightgray);
}

pre code {
	display: block;
	border-left: 2px solid var(--blue);
	line-height: 1.5;
}

/* horizontal ruler */

/*
 * 1. set border-style to solid;
 *    set border-bottom-style to none to set height to 1px
 */

hr {
	margin-top: 2em;
	margin-bottom: 2em;
	border-style: solid solid none; /* 1 */
	border-color: var(--gray);
}

/**
 * 1. a button, or any element that behaves like one, is clickable like an
 *    anchor, so show the same cursor
 */

button,
[role="button"],
[type="button"] {
	cursor: pointer; /* 1 */
}

/**
 * 1. apply font style of parent/root element
 */

button,
[type="button"] {
	padding: .5em 1em;
	background-color: var(--lightgray);
	border: 1px solid var(--gray);
	border-radius: 5px;
	font-family: inherit; /* 1 */
	font-size: inherit; /* 1 */
	color: inherit;
	transition: border-color var(--transition-time), background-color var(--transition-time);
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
	border-width: 0;
}

button:hover,
[type="button"]:hover {
	border-color: var(--darkgray);
}

button:focus,
[type="button"]:focus {
	outline: 0;
	border-color: var(--blue);
	box-shadow: var(--focus-border-style);
}

button:active,
[type="button"]:active {
	border-color: var(--darkgray);
	box-shadow: inset 0 0.15em 0.3em var(--gray);
}

button[disabled],
[type="button"][disabled] {
	box-shadow: none;
}

/* stylelint-disable no-descending-specificity */

/* form */

/**
 * 1. remove default styling from fieldset
 */

fieldset {
	margin: 1.25em 0; /* 1 */
	padding: 0; /* 1 */
	border-width: 0; /* 1 */
}

/**
 * 1. remove padding from legend
 */

legend {
	padding-right: 0; /* 1 */
	padding-left: 0; /* 1 */
}

/*
 * 1. a select is clickable like an anchor, so show the same cursor
 * 2. remove the inner dotted line in Firefox
 * 3. remove browser own select style
 */

select {
	cursor: pointer; /* 1 */
	background-color: var(--white);
}

select:-moz-focusring {
	color: transparent; /* 2 */
	text-shadow: 0 0 0 var(--black); /* 2 */
}

select:not([multiple]):not([size]) {
	padding-right: 1.75em;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M20 5 L10 15 L0 5" stroke="currentColor" stroke-width="2" fill="none"></path></svg>');
	background-repeat: no-repeat;
	background-position: right .5em center;
	background-size: .813em;
	-moz-appearance: none; /* 3 */
}

/*
 * 1. apply font style of parent/root element
 * 2. remove browser own input style
 * 3. remove Firefox style if input is invalid
 */

input:not([type="button"]):not([type="range"]),
select,
textarea {
	border: 1px solid var(--gray);
	font-size: inherit; /* 1 */
	transition: border-color var(--transition-time), box-shadow var(--transition-time);
	-webkit-appearance: none; /* 2 */
}

input:not([type="button"]):not([type="range"]):focus,
select:focus,
textarea:focus {
	outline: 0;
	border-color: var(--blue);
	box-shadow: var(--focus-border-style);
}

input:not([type="button"]):not([type="range"]):not(:focus):-moz-ui-invalid,
select:not(:focus):-moz-ui-invalid,
textarea:not(:focus):-moz-ui-invalid {
	box-shadow: none; /* 3 */
}

/*
 * 1. apply font style of parent/root element
 */

input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="range"]),
select,
textarea {
	padding: .5em .625em;
	border-radius: 5px;
	font-family: inherit; /* 1 */
	color: inherit; /* 1 */
}

input[type="checkbox"],
input[type="radio"] {
	width: 1em;
	height: 1em;
	margin: 0;
	background-color: var(--white);
	cursor: pointer;
	-moz-appearance: none;
}

input[type="checkbox"]:before,
input[type="radio"]:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
}

input[type="checkbox"] {
	border-radius: 5px;
}

input[type="checkbox"]:before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 2.5 L8 17 L2.5 12" stroke-width="4.5" stroke="%233b99fc" fill="none"></path></svg>');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	opacity: 0;
	transition: opacity var(--transition-time);
}

input[type="checkbox"]:checked:before {
	opacity: 1;
}

input[type="radio"] {
	border-radius: 1em;
	padding: .125em;
}

input[type="radio"]:before {
	border-radius: inherit;
	transition: background-color var(--transition-time);
}

input[type="radio"]:checked:before {
	background-color: var(--blue);
}

/*
 * 1. fixing the height of the input in Safari by remoeving the delete cancel
 *    button
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none; /* 1 */
}

input[type="date"] {
	cursor: pointer;
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: var(--gray);
	height: .25em;
	border-radius: 5px;
	outline: 0;
}

input[type="range"]::-moz-focus-outer {
	border: 0;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 1rem;
	width: 1rem;
	border-radius: 1em;
	border: 1px solid var(--gray);
	background-color: var(--white);
	cursor: grab;
	-webkit-transition: border-color var(--transition-time), box-shadow var(--transition-time);
	transition: border-color var(--transition-time), box-shadow var(--transition-time);
}

input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:active::-webkit-slider-thumb {
	border-color: var(--blue);
	box-shadow: var(--focus-border-style);
}

input[type="range"]:active::-webkit-slider-thumb {
	cursor: grabbing;
}

input[type="range"][disabled]::-webkit-slider-thumb {
	cursor: not-allowed;
	border-color: var(--gray);
}

input[type="range"]::-moz-range-thumb {
	height: 1rem;
	width: 1rem;
	border-radius: 1em;
	border: 1px solid var(--gray);
	background-color: var(--white);
	cursor: grab;
	-moz-transition: border-color var(--transition-time), box-shadow var(--transition-time);
	transition: border-color var(--transition-time), box-shadow var(--transition-time);
}

input[type="range"]:focus::-moz-range-thumb,
input[type="range"]:active::-moz-range-thumb {
	border-color: var(--blue);
	box-shadow: var(--focus-border-style);
}

input[type="range"]:active::-moz-range-thumb {
	cursor: grabbing;
}

input[type="range"][disabled]::-moz-range-thumb {
	cursor: not-allowed;
	border-color: var(--gray);
}

/*
 * 1. remove yellow background-color from autocomplete inputs in Chrome
 */

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 99em #fff inset; /* 1 */
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
	border-color: var(--gray);
	background-color: var(--lightgray);
	cursor: not-allowed;
	opacity: .5;
}

/* figure */

figure {
	margin-right: 0;
	margin-left: 0;
}

/* image */

/**
 * 1. make image scalable if viewport < img width
 */

img {
	max-width: 100%; /* 1 */
}

/* table */

table {
	max-width: 100%;
	border-spacing: 0;
}

caption,
legend {
	margin-bottom: 1em;
	font-size: 1.17em;
	font-weight: bold;
}

tbody > tr:hover {
	background-color: var(--lightgray);
}

th,
td {
	padding: .5em .75em;
}

th {
	text-align: left;
}

td {
	border-top: 1px solid var(--gray);
}

/* dialog */

dialog {
	position: fixed;
	top: 1em;
	border-color: var(--black);
}

progress {
	height: 1em;
	border-width: 0;
	background-color: var(--lightgray);
}

progress::-webkit-progress-bar {
	background-color: var(--lightgray);
}

progress::-webkit-progress-value {
	background-color: var(--blue);
}

progress::-moz-progress-bar {
	background-color: var(--blue);
}

@media only screen and (min-width: 480px) {

body {
	margin: 2.75em;
}

}

