@mixin no-list-style($margin-top: 0, $margin-bottom: 0) {
    list-style: none;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    padding-left: 0;
}

@mixin horizontal-list($margin-top: 0, $margin-bottom: 0) {
    @include no-list-style($margin-top, $margin-bottom);

    display: flex;
    flex-wrap: wrap;
}
