@import "config";

/* anchor */

a {
    color: var(--blue);

    &:visited {
        color: var(--darkblue);
    }

    &:active {
        color: var(--orange);
    }

    &:focus {
        outline: 0;
        box-shadow: var(--focus-border-style);
        border-radius: 2px;
    }
}
