@import "config";

/* anchor */

a {
    color: var(--blue);
    transition: box-shadow var(--transition-time);

    &:visited {
        color: var(--darkblue);
    }

    &:active {
        color: var(--orange);
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 3px var(--white), 0 0 0 7px var(--focus-color);
        border-radius: 2px;
    }
}
