@import "config";

/**
 * 1. a button, or any element that behaves like one, is clickable like an
 *    anchor, so show the same cursor
 */

button,
[role="button"],
[type="button"] {
    cursor: pointer; /* 1 */
}

/**
 * 1. apply font style of parent/root element
 */

button,
[type="button"] {
    padding: .5em 1em;
    background-color: var(--lightgray);
    border: 1px solid var(--gray);
    border-radius: 5px;
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    color: inherit;
    transition: border-color var(--transition-time), background-color var(--transition-time);

    &::-moz-focus-inner {
        border-width: 0;
    }

    &:hover {
        border-color: var(--darkgray);
    }

    &:focus {
        outline: 0;
        border-color: var(--darkgray);
        box-shadow: 0 0 0 2px var(--lightblue);
    }

    &:active {
        border-color: var(--darkgray);
        box-shadow: inset 0 .15em .3em var(--gray);
    }

    &[disabled] {
        box-shadow: none;
    }
}
