@import "config";

/* code */

code {
    padding: .188em;
    background-color: $lightgray;
    color: $darkgray;
}

pre code {
    display: block;
    border-left: 2px solid $blue;
    line-height: 1.5;
}
