@import "config";

/* code */

code {
    padding: .188em;
    background-color: var(--lightgray);
}

pre code {
    display: block;
    padding: 1.5em;
    border-left: 2px solid var(--blue);
    line-height: 1.5;
    white-space: pre-wrap;
}
