/* stylelint-disable no-descending-specificity */

@import "config";

/* form */

/**
 * 1. remove default styling from fieldset
 */

fieldset {
    margin: 1.25em 0; /* 1 */
    padding: 0; /* 1 */
    border-width: 0; /* 1 */
}

/**
 * 1. remove padding from legend
 */

legend {
    padding-right: 0; /* 1 */
    padding-left: 0; /* 1 */

    @extend caption;
}

/*
 * 1. a select is clickable like an anchor, so show the same cursor
 * 2. remove the inner dotted line in Firefox
 * 3. remove browser own select style
 */

select {
    cursor: pointer; /* 1 */
    background-color: var(--white);

    &:-moz-focusring {
        color: transparent; /* 2 */
        text-shadow: 0 0 0 var(--black); /* 2 */
    }

    &:not([multiple]):not([size]) {
        padding-right: 1.75em;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M20 5 L10 15 L0 5" stroke="currentColor" stroke-width="2" fill="none"></path></svg>');
        background-repeat: no-repeat;
        background-position: right .5em center;
        background-size: .813em;
        -moz-appearance: none; /* 3 */
    }
}

/*
 * 1. apply font style of parent/root element
 * 2. remove browser own input style
 * 3. remove Firefox style if input is invalid
 */

input:not([type="button"]):not([type="range"]),
select,
textarea {
    border: 1px solid var(--gray);
    font-size: inherit; /* 1 */
    transition: border-color var(--transition-time), box-shadow var(--transition-time);
    -webkit-appearance: none; /* 2 */

    &:focus {
        outline: 0;
        border-color: var(--blue);
        box-shadow: var(--focus-border-style);
    }

    &:not(:focus):-moz-ui-invalid {
        box-shadow: none; /* 3 */
    }
}

/*
 * 1. apply font style of parent/root element
 */

input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="range"]),
select,
textarea {
    padding: .5em .625em;
    border-radius: 5px;
    font-family: inherit; /* 1 */
    color: inherit; /* 1 */
}

input[type="checkbox"],
input[type="radio"] {
    width: 1em;
    height: 1em;
    margin: 0;
    background-color: var(--white);
    cursor: pointer;
    -moz-appearance: none;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
    }
}

input[type="checkbox"] {
    border-radius: 5px;

    &:before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 2.5 L8 17 L2.5 12" stroke-width="4.5" stroke="%233b99fc" fill="none"></path></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        opacity: 0;
        transition: opacity var(--transition-time);
    }

    &:checked:before {
        opacity: 1;
    }
}

input[type="radio"] {
    border-radius: 1em;
    padding: .125em;

    &:before {
        border-radius: inherit;
        transition: background-color var(--transition-time);
    }

    &:checked:before {
        background-color: var(--blue);
    }
}

/*
 * 1. fixing the height of the input in Safari by remoeving the delete cancel
 *    button
 */

input[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button {
        -webkit-appearance: none; /* 1 */
    }
}

input[type="date"] {
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: var(--gray);
    height: .25em;
    border-radius: 5px;
    outline: 0;

    @mixin thumb {
        height: 1rem;
        width: 1rem;
        border-radius: 1em;
        border: 1px solid var(--gray);
        background-color: var(--white);
        cursor: grab;
        transition: border-color var(--transition-time), box-shadow var(--transition-time);
    }

    @mixin thumb-disabled {
        cursor: not-allowed;
        border-color: var(--gray);
    }

    @mixin thumb-focus {
        border-color: var(--blue);
        box-shadow: var(--focus-border-style);
    }

    @mixin thumb-active {
        cursor: grabbing;
    }

    &::-moz-focus-outer {
        border: 0;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;

        @include thumb;
    }

    &:focus::-webkit-slider-thumb,
    &:active::-webkit-slider-thumb {
        @include thumb-focus;
    }

    &:active::-webkit-slider-thumb {
        @include thumb-active;
    }

    &[disabled]::-webkit-slider-thumb {
        @include thumb-disabled;
    }

    &::-moz-range-thumb {
        @include thumb;
    }

    &:focus::-moz-range-thumb,
    &:active::-moz-range-thumb {
        @include thumb-focus;
    }

    &:active::-moz-range-thumb {
        @include thumb-active;
    }

    &[disabled]::-moz-range-thumb {
        @include thumb-disabled;
    }
}

/*
 * 1. remove yellow background-color from autocomplete inputs in Chrome
 */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 99em #fff inset; /* 1 */
}

button,
input,
select,
textarea {
    &[disabled] {
        border-color: var(--gray);
        background-color: var(--lightgray);
        cursor: not-allowed;
        opacity: .5;
    }
}
