/* stylelint-disable no-descending-specificity */

@import "config";

/* form */

/**
 * 1. update styling for fieldset
 */

fieldset {
    margin: 1.25em 0; /* 1 */
    padding: 1.5em; /* 1 */
    border: 1px solid var(--gray); /* 1 */
}

/**
 * 1. remove padding from legend
 * 2. let it look more like a h3
 * 3. reset default fieldset position inside of the border
 */

legend {
    padding-right: 0; /* 1 */
    padding-left: 0; /* 1 */
    margin-bottom: 1em; /* 2 */
    font-size: 1.17em; /* 2 */
    font-weight: bold; /* 2 */
    float: left; /* 3 */
    width: 100%; /* 3 */

    + * {
        clear: left; /* 3 */
    }
}

/* global */

button,
input,
select,
textarea {
    --border: 1px solid var(--gray);
    --border-radius: 5px;
    --height: 2.5em;
    --input-padding-h: .5em;
    --button-padding-h: 1em;
    --padding-v: .625em;
    --control-size: 1.5rem;

    margin: 0;
    transition: border-color var(--transition-time), box-shadow var(--transition-time);
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* text like inputs */

input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    height: var(--height);
    padding-right: var(--input-padding-h);
    padding-left: var(--input-padding-h);
    border: var(--border);
    border-radius: var(--border-radius);
    font: inherit;

    &:focus {
        outline: 0;
        border-color: var(--blue);
        box-shadow: var(--focus-border-style);
    }

    &:not(:focus):-moz-ui-invalid {
        box-shadow: none; /* 3 */
    }
}

/* radio & checkbox */

input[type="checkbox"],
input[type="radio"] {
    width: var(--control-size);
    height: var(--control-size);
    background-color: var(--white);
    border: var(--border);
    font-size: inherit;
    cursor: pointer;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
    }

    &:focus {
        outline: 0;
        border-color: var(--blue);
        box-shadow: var(--focus-border-style);
    }
}

input[type="checkbox"] {
    border-radius: 5px;

    &:before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M18 1.5 L8 17 L1.5 12" stroke-width="4" stroke="%233b88fd" fill="none" /></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 75%;
        opacity: 0;
        transition: opacity var(--transition-time);
    }

    &:checked:before {
        opacity: 1;
    }
}

input[type="radio"] {
    border-radius: 100%;
    padding: .125em;

    &:before {
        border-radius: inherit;
        transition: background-color var(--transition-time);
    }

    &:checked:before {
        background-color: var(--blue);
    }
}

/* textarea */

textarea {
    padding: var(--input-padding-h) var(--padding-v);
    font: inherit;
    border: var(--border);
    border-radius: var(--border-radius);

    &:focus {
        outline: 0;
        border-color: var(--blue);
        box-shadow: var(--focus-border-style);
    }

    &:not(:focus):-moz-ui-invalid {
        box-shadow: none; /* 3 */
    }
}

/* select */

select {
    border: var(--border);
    border-radius: var(--border-radius);
    font: inherit;
    cursor: pointer;

    &:focus {
        outline: 0;
        border-color: var(--blue);
        box-shadow: var(--focus-border-style);
    }

    &:-moz-focusring {
        color: transparent; /* 2 */
        text-shadow: 0 0 0 black; /* 2 */
    }

    &:not([multiple]):not([size]) {
        height: var(--height);
        padding-right: 1.75em;
        padding-left: var(--padding-v);
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M20 5 L10 15 L0 5" stroke="currentColor" stroke-width="2" fill="none"></path></svg>');
        background-repeat: no-repeat;
        background-position: right .5em center;
        background-size: .813em;
    }

    &[multiple],
    &[size] {
        padding: 0;
        height: auto;
    }
}

option {
    padding: var(--padding-v) var(--button-padding-h);
}

optgroup {
    padding-right: var(--button-padding-h);
    padding-left: var(--button-padding-h);
    font-style: normal;
}

optgroup option {
    padding-right: calc(var(--button-padding-h) * 3);
    padding-left: calc(var(--button-padding-h) * 3);
    margin-left: calc(var(--button-padding-h) * -1.5);
    margin-right: calc(var(--button-padding-h) * -1.5);
}

/*
 * 1. fixing the height of the input in Safari by remoeving the delete cancel
 *    button
 */

input[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button {
        -webkit-appearance: none; /* 1 */
    }
}

input[type="date"] {
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: var(--gray);
    height: .25em;
    border-radius: 5px;
    outline: 0;

    &[disabled] {
        background-color: var(--gray);
    }

    @mixin thumb {
        height: var(--control-size);
        width: var(--control-size);
        border-radius: 100%;
        border: 1px solid var(--gray);
        background-color: var(--white);
        cursor: grab;
        transition: border-color var(--transition-time), box-shadow var(--transition-time);
    }

    @mixin thumb-disabled {
        cursor: not-allowed;
        border-color: var(--gray);
    }

    @mixin thumb-focus {
        border-color: var(--blue);
        box-shadow: var(--focus-border-style);
    }

    @mixin thumb-active {
        cursor: grabbing;
    }

    &::-moz-focus-outer {
        border: 0;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;

        @include thumb;
    }

    &:focus::-webkit-slider-thumb,
    &:active::-webkit-slider-thumb {
        @include thumb-focus;
    }

    &:active::-webkit-slider-thumb {
        @include thumb-active;
    }

    &[disabled]::-webkit-slider-thumb {
        @include thumb-disabled;
    }

    &::-moz-range-thumb {
        @include thumb;
    }

    &:focus::-moz-range-thumb,
    &:active::-moz-range-thumb {
        @include thumb-focus;
    }

    &:active::-moz-range-thumb {
        @include thumb-active;
    }

    &[disabled]::-moz-range-thumb {
        @include thumb-disabled;
    }
}

/*
 * 1. remove yellow background-color from autocomplete inputs in Chrome
 */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 99em #fff inset; /* 1 */
}

/* button */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    height: var(--height);
    padding: 0 var(--button-padding-h);
    background-color: #f5f5f5;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    font: inherit;
    cursor: pointer;

    &::-moz-focus-inner {
        border-width: 0;
    }

    &:hover {
        border-color: var(--darkgray);
    }

    &:focus {
        outline: 0;
        border-color: var(--blue);
        box-shadow: var(--focus-border-style);
    }

    &:active {
        border-color: var(--darkgray);
        box-shadow: inset 0 .15em .3em var(--gray);
    }

    &[disabled]:active {
        box-shadow: none;
    }
}

/* disabled */

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
    border-color: var(--gray);
    background-color: var(--lightgray);
    cursor: not-allowed;
    opacity: .5;
}
