/* figure */

figure {
    margin-right: 0;
    margin-left: 0;
}

/* image */

/**
 * 1. make image scalable if viewport < img width
 * 2. set height relative to width if viewport < img width
 */

img {
    max-width: 100%; /* 1 */
    height: auto; /* 2 */
}
