@import "config";

/* root */

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/**
* use nice system font:
*     -apple-system: macOS/iOS
*     Segoe UI: Windows
*     Roboto: Android
*     Ubuntu: Ubuntu
*     Cantarell: Gnome
*     Open Sans: fallback Linux
*     sans-serif: fallback
*/
body {
    margin: 1.375em;
    font-family: -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Open Sans", sans-serif;
    color: $black;

    @media only screen and (min-width: 480px) {
        margin: 2.75em;
    }
}
