@import "config";

/* table */

table {
    max-width: 100%;
    border-spacing: 0;
}

caption {
    margin-bottom: 1em;
    font-size: 1.17em;
    font-weight: bold;
}

tbody > tr:hover {
    background-color: var(--lightgray);
}

th,
td {
    padding: .5em .75em;
    border-bottom: 1px solid var(--gray);
}

th {
    text-align: left;
}

tr:last-child > td {
    border-bottom: 0;
}
