@import "config";

/* table */

table {
    max-width: 100%;
    border-spacing: 0;
    border: 1px solid $gray;
}

caption {
    margin-bottom: 1em;
    font-size: 1.17em;
    font-weight: bold;
}

tr:hover {
    background-color: $lightblue;
}

th,
td {
    padding: .5em .75em;
}

th {
    background-color: $lightgray;
    text-align: left;
}

td {
    border-top: 1px solid $gray;
}
